[mysqld]
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
performance_schema=off
general_log = 1
general_log_file = /var/log/mysql/general.log
slow_query_log=1 #0:無効、1:有効
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=3 #3秒以上
